.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj.user/shared/notebooks/paths
.Rproj.user/EB43BD27/sources/prop/INDEX
.Rproj.user/EB43BD27/rmd-outputs
.Rproj.user/EB43BD27/persistent-state
*.pper
.Rproj.user/EB43BD27/sources/prop/INDEX
.Rproj.user/shared/notebooks/paths
