.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj.user/shared/notebooks/paths
.Rproj.user/EB43BD27/sources/prop/INDEX
.Rproj.user/EB43BD27/rmd-outputs
.Rproj.user/EB43BD27/persistent-state
*.pper
.Rproj.user/EB43BD27/sources/prop/INDEX
.Rproj.user/shared/notebooks/paths
.Rproj.user/EB43BD27/cpp-definition-cache
.Rproj.user/EB43BD27/pcs/debug-breakpoints.pper
*.pper
.Rproj.user/EB43BD27/rmd-outputs
.Rproj.user/EB43BD27/sources/prop/INDEX
pos20200430_73_350_RAMclustR.Rmd
